# PID files
.backend.pid
.frontend.pid

# Database
database/*.db

# Node modules
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Environment
.env
APIKEY.env
**/APIKEY.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.log
